<h1>投稿一覧</h1>
<!--|list|-->
<% @lists.each do |list| %>

  <p>タイトル</p>
  <!--<span><%= list.title %></span>を削除-->
    <span>
      <!--list.titleを表示、/lists/#{list.id}に飛ぶ-->
    <%= link_to list.title, list_path(list.id) %>
  </span>

<% end %>